.filter {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: 500;
  margin-right: 10px;
}

.filter:hover {
  background-color: #e6e6ff;
  cursor: pointer;
}

.filterActive {
  /* deep purpple background */
  background-color: #854eac;
  color: white;
}

.createGroupButton {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 30px;
}

.createGroupButton:hover {
  cursor: pointer;
  color: white;
  background-color: #854eac;
}

.controller {
  display: flex;
  justify-content: space-between;
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

